:root {
  --thumbnails-height: 160px;
  --img-width: 1160px;
  --img-height: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: var(--img-width);
}

/***** bottoni chevron *****/
.btn-chevron {
  position: absolute;
  bottom: calc(calc(var(--thumbnails-height) / 2) - calc(30px / 2));
  z-index: 999;
  width: 30px;
  aspect-ratio: 1;
  font-size: 20px;
  background-color: rgb(221, 206, 209);
  border-radius: 100%;
  text-align: center;
  padding-top: 5px;
}

.btn-chevron.left {
  left: 10px;
}

.btn-chevron.right {
  right: 10px;
}

.btn-chevron:hover {
  color: blue;
}
/***** bottoni chevron *****/

/***** descrizione immagine *****/
.slider {
  position: relative;
  height: var(--img-height);
}

.image-description{
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 20px;
  text-align: right;
}

#country-name, #description{
  display: block;
}
/***** /descrizione immagine *****/

/***** immagini *****/
.container img {
  width: var(--img-width);
  height: var(--img-height);
  object-fit: cover;
}
/***** /immagini *****/

/***** thumbnails *****/
.thumbnails {
  width: 100%;
  height: var(--thumbnails-height);
  background-color: black;
  display: flex;
  position: relative;
}

.thumbnails img {
  height: 100%;
  width: calc(100% /5);
  display: flex;
  direction: column;
  object-fit:cover;
}

.thumbnail-item {
  filter: opacity(0.5);
}

.thumbnail-item.active {
  filter: opacity(1);
  border: 2px solid white;
}
/***** /thumbnails *****/

/***** bottoni controllo autoplay*****/
.controls {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.controls button {
  padding: 10px;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  color: white;
}
/***** /bottoni controllo autoplay*****/